/* For Help button */
.glyphicon-question-sign{
	font-size: 24px;
}
.errorlist{
	color: #D9534F;
	list-style: square;
}

/* Chars. Remaining message */
.char-left {
	font-weight: bold;
	color: blue;
}

.warning {
	color: red;
}

.char-left-label {
	margin-top: 5px;
}

.page-btns{
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.page-btns input{
	font-size: 18px;
}

/* Ref: http://stackoverflow.com/questions/9855800/side-by-side-div-and-site-centering */
#schools{
	width: 580px;
}

#selector{ /* NECESSARY */
	/* width: 100%;  /*Total screen width: 1170px in bootstrap*/
	margin: 30px auto;
	float: left;
	/*background-color: green;*/
}

#left_col, #mid_col, #right_col{
	float: left;
}

#left_col, #members{
	width: 460px;
	margin: 5px 2px 0px 0px;
	/*background-color:red;*/
}

#right_col{
	width: 525px;
	margin: 5px 2px 0px;
	/*background-color:yellow;*/
}

#mid_col{
	width: 140px;
	margin: 50px 2px;
}