{% load i18n %}

{% if is_paginated %}
    <!--div class="clearfix"></div>
    <hr class="p_line"-->
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                {% if query_str %}
                    <a href="?{{ query_str }}&page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% else %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <span class="page-current">{{ page }}</span>
                {% else %}
                    {% if query_str %}
                        <a href="?{{ query_str }}&page={{ page }}">{{ page }}</a>
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                {% if query_str %}
                    <a href="?{{ query_str }}&page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% else %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
{% endif %}